{
  "presets": [
    [
      "@babel/preset-env", {
        "targets": {
          "node": "12.6.0"
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
  ],
  "env": {
    "test": {
      "plugins": [
      ]
    }
  }
}
